<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="queries.css" />
  </head>
  <body>
    <div class="x">
      <header class="header">
        <div class="ph">🌞get no interest & no payments for one year</div>
        <div class="logo">🚚</div>
      </header>

      <main>
        <div class="profile">
          <div class="datails">
            <p class="pro-pic">AA</p>
            <div class="name">
              <p class="p1">hello abdullateef,👋</p>
              <p class="p2">welcome back!</p>
            </div>
            <button class="log">Log out</button>
          </div>
          <section class="grid2a">
            <p class="project ps">your project's progress</p>
            <p class="survey ps">your feedback survey</p>

            <div class="progress">
              <div class="graph grid2b">
                <div class="item-1">
                  <p class="h-1">signed contract</p>
                  <p class="complete">
                    <span> complete</span> <span>100%</span>
                  </p>
                  <p class="color"></p>
                </div>
                <div class="item-1">
                  <p class="h-1">perfect packet</p>
                  <p class="complete">
                    <span> complete</span> <span>100%</span>
                  </p>
                  <p class="color"></p>
                </div>
                <div class="item-1">
                  <p class="h-1">permitted</p>
                  <p class="complete">
                    <span> complete</span> <span>100%</span>
                  </p>
                  <p class="color"></p>
                </div>
                <div class="item-1">
                  <p class="h-1">installation</p>
                  <p class="complete">
                    <span> complete</span> <span>100%</span>
                  </p>
                  <p class="color"></p>
                </div>
                <div class="item-2">system activation</div>
              </div>
            </div>
            <div class="survey-sec">
            </div>
          </section>
        </div>
      </main>

      <footer class="footer">
        <div class="footer-1 grid5 grid--footer">
          <div class="logo-col">
            <a href="#" class="logo"> 🚚 </a>
            <ul>
              <li class="making">
                making household optimal and efficient throuh revolutionary
                technology
              </li>
            </ul>

            <p class="email">info@lessarenergy.com</p>
          </div>
          <div class="address-col">
            <p class="footer-heading">explore</p>
            <ul class="footer-nav">
              <li><a class="footer-link" href="#">Services</a></li>
              <li><a class="footer-link" href="#">projects</a></li>
              <li><a class="footer-link" href="#">about</a></li>
              <li><a class="footer-link" href="#">testimonials</a></li>
              <li><a class="footer-link" href="#">contacts</a></li>
            </ul>
          </div>
          <nav class="nav-col">
            <p class="footer-heading">services</p>
            <ul class="footer-nav">
              <li><a class="footer-link" href="#">solar technology</a></li>
              <li><a class="footer-link" href="#">energy efficiency</a></li>
              <li><a class="footer-link" href="#">smart home</a></li>
              <li><a class="footer-link" href="#">ev charger</a></li>
              <li><a class="footer-link" href="#">solar attic fan</a></li>
            </ul>
          </nav>
          <nav class="nav-col">
            <p class="footer-heading">loaction</p>
            <ul class="footer-nav">
              <li><a class="footer-link" href="#">henderson</a></li>
              <li><a class="footer-link" href="#">Las vegas</a></li>
              <li><a class="footer-link" href="#">fort collins</a></li>
              <li><a class="footer-link" href="#">pueblo</a></li>
              <li><a class="footer-link" href="#">colorado springs</a></li>
            </ul>
          </nav>
          <nav class="nav-col">
            <p class="footer-heading">legal</p>
            <ul class="footer-nav">
              <li><a class="footer-link" href="#">Recipe directory</a></li>
              <li><a class="footer-link" href="#">Help center</a></li>
              <li><a class="footer-link" href="#">Privacy & terms</a></li>
            </ul>

            <p class="footer-heading">social</p>

            <div class="footer-nav">
              <img src="" alt="" />
              <img src="" alt="" />
              <img src="" alt="" />
            </div>
          </nav>
        </div>
      </footer>
    </div>
  </body>
</html>
