/* #eb984e */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #111;
  background-color: #ddd;
}

.main {
  padding-top: 10rem;
  height: 100vh;
  width: 100%;
}

.container {
  max-width: 35%;
  height: 85%;
  /* margin-left: 50rem; */
  margin: 0 auto;
  box-shadow: 0 0 2.8rem rgba(0, 0, 0, 0.222);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 7fr 1fr 1fr;
  padding: 1rem 1rem 1.2rem;
  /* border: 0.4rem solid #087f5b; */
  /* background-color: #67d5e0; */
  border-radius: 5%;
  /* overflow: hidden; */
  
}

.header {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.sub-header{
  
  text-transform: capitalize;
  font-weight: 500;
  padding-bottom: 2rem;
  font-size: 1.4rem;
  text-align: center;
}

.dots {
  
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.dot {
  /* box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.303); */
  height: 1.4rem;
  width: 1.4rem;
  /* background-color: #ddd; */
  background-color: #fff;
  border: 0.2rem solid #087f5b;
  /* border: 0.2rem solid #67d5e0; */
  border-radius: 50%;
  /* border: none; */
}

.dot--fill {
  background-color: #087f5b;
border: none;
}

.form {
  padding: 0 2rem 0 2rem ;
  width: 100%;
  margin: 0 auto;
  letter-spacing: 0.02rem;
  color: #444;
}

.label {
  display: block;
  margin-top: 2.4rem;
  font-size: 1.3rem;
  text-transform: capitalize;
}

::placeholder {
  color: #888;
  text-transform: uppercase;
}

/* :checked */

.input {
  text-transform: capitalize;
  width: 100%;
  border: none;
  border-bottom: 0.15rem solid #555;
  padding: 0.4rem 0 0.2rem 0;
  font-size: 1.5rem;
  font-weight: 200;
  background-color: transparent;
  color: #888;
  /* transition: all ; */
}

input:focus {
  outline: none;
  transform: translateX(0.4rem);
}

.input[type="email"]{
  text-transform: none;
}
.input[type="password"]{
  text-transform: none;
}

.text{
  margin: 0 auto;
  padding-top: 1.6rem;
}

.policy{
  text-align: center;
}


.btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-icon {
  /* stroke: #087f5b; */
  stroke: #ddd;
  width: 2.8rem;
  height: 2.8rem;
}

.btn {
  background-color: #087f5b;
  border: none;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.437);
  cursor: pointer;
  color: white;
}
.btn--left {
}
.btn--right {
}

.p {
  position: fixed;
}

.img-1 {
  top: 7%;
  left: 40%;
}
.img-2 {
  top: 30%;
  left: 80%;
}
.img-3 {
  top: 55%;
  left: 60%;
}
.img-4 {
  top: 40%;
  left: 28.13%;
  z-index: -1;
}
.img-5 {
  top: 60%;
  left: 13%;
}
.img-6 {
  top: 60%;
  left: 85%;
}
