* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}
img {
  float: left;
  margin-right: 20px;
}
.sale {
  background-color: #ec2f2f;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 3px;
  top: -14px;
  left: -30px;
  font-weight: bold;
  display: inline-block;
  /* width: 40px;
  text-align: center; */
}
.Product {
  width: 825px;
  margin: 50px auto;
  border: 3px solid black;
  position: relative;
}
.Converse {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f7f7;
  margin: 0 auto;
  padding: 15px;
}
/* .colors{
   margin-top: 25px; 
}  */
.color {
  display: inline-block;
  margin-right: 12px;
  height: 22px;
  width: 22px;
}

.a {
  background-color: black;
}
.b {
  background-color: blue;
}
.c {
  background-color: red;
}
.d {
  background-color: yellow;
}
.e {
  background-color: lightgreen;
}
.f {
  background-color: brown;
}

.product-info {
  width: 243px;
  float: left;
  margin-left: 43px;
  margin-top: 20px;
}

.price {
  margin: 0;
  font-weight: bolder;
  font-size: 24px;
  float: left;
}
.fine-shipping {
  text-transform: uppercase;
  font-size: 13px;
  color: black;
  margin-bottom: 20px;
  font-weight: bold;
  float: right;
  margin-top:11px;
}
.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}
.more-info:hover,
.more-info:active {
  color: blue;
  text-decoration: none;
}
.description {
  clear: both;
  margin-bottom: 10px;
}
/* DETAILS */
/* details title */
.details {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  
  margin-left: 25px;

}
.list {
  list-style: square;
  margin-left: 25px;
}
.list li {
  margin-bottom: 10px;
}
.product-details {
  width: 243px;
  float: left;
  margin-top:20px ;
}
/* .sale{
} */
button {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  height: auto;
  padding: 15px;
  border: none;
  border-top: 2px solid black;
}
button:hover {
  background-color: white;
  color: black;
}
